.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: var(--spacing-03);
  padding: var(--spacing-00);
  margin-top: var(--spacing-05);
}

.infinite-scroll-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-09);
  min-height: 4rem;
}

.loading-text {
  color: var(--content-secondary-alt);
  font-size: var(--desktop-caption);
  font-family: var(--monospace);
}
